<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>ServisRacunara - Footer</title>
    <meta charset="utf-8"/>
</head>
<body>
<!-- START Footer -->
<footer th:fragment="footer" class="footer-area section-gap">

    <div class="container">

        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About us</h6>
                    <p>
                        No matter what type of business you're in, your objective, or your budget, we have solutions tailored for you. Schedule a call with us and let's talk about your business and your technology needs. No fee. No obligations. Just a conversation about how we can leverage your IT to help your business succeed.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a th:href="@{/page/index}">Home</a></li>
                                <li><a th:href="@{/page/index#service}">Services</a></li>
                                <li><a th:href="@{/page/index#contact}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- END Footer -->
</body>
</html>