<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>ServisRacunara - Header</title>
</head>
<body>

<!-- START Navbar-->
<header th:fragment="navigation" id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index"><img src="/images/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a th:href="@{/page/index}">Home</a></li>
                    <li class="menu-active"><a th:href="@{/page/index#service}">Services</a></li>
                    <li class="menu-active"><a th:href="@{/page/index#contact}">Contact</a></li>
                    <li class="menu-active"><a th:href="@{/page/admin-console}" sec:authorize="hasRole('ROLE_ADMIN')">Admin Console</a></li>
                    <li class="menu-active" sec:authorize="isAuthenticated()"><a th:href="@{/page/requests}">My questions</a></li>
                    <li class="menu-active" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="#" id="header-login-button">
                            Login
                        </a>
                    </li>
                    <li class="menu-active" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="#" id="header-registration-button">
                            Registration
                        </a>
                    </li>
                    <li class="menu-active" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/page/logout}" id="header-logout-button">
                            Logout
                        </a>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header>

</body>
</html>