<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Servis Racunara - Modals</title>
</head>
<body>

<!-- START Login Modal -->
<div id="login-modal" class="modal" tabindex="-1" role="dialog" th:fragment="login-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content pd1">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="login-form" th:action="@{/page/authenticate}"
                  th:method="post">
                <div class="modal-body mx-3">
                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label id="username-label">Username</label>
                        <input id="sign-in-username" type="text" name="username"
                               class="form-control">
                    </div>

                    <div class="md-form mt-10">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label id="password-label">Password</label>
                        <input id="sign-in-password" type="password" name="password"
                               class="form-control">
                    </div>

                </div>
            </form>
            <div class="alert alert-danger" id="bad-credentials" hidden="hidden">
                Username or password are invalid
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="login-button" class="btn btn-default">Login</button>
            </div>
        </div>
    </div>
</div>
<!-- END Login Modal -->

<!-- START Registration Modal -->
<div id="registration-modal" class="modal" tabindex="-1" role="dialog" th:fragment="registration-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content pd-3">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Register</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="register-form" th:action="@{/page/user/registration}"
                  class="form" th:object="${user}" th:method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" th:field="*{username}" class="form-control"
                           id="username">
                </div>
                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" th:field="*{fullName}" class="form-control"
                           id="fullName">
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="text" th:field="*{email}" class="form-control"
                           id="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input th:field="*{password}" type="password"
                           class="form-control" id="password"
                           required>
                </div>
            </form>
            <div class="modal-footer d-flex justify-content-center">
                <button id="register-button" class="btn btn-default">Register</button>
            </div>
        </div>
    </div>
</div>
<!-- END Registration Modal -->

</body>
</html>