<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Servis Racunara</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/icons/linearicons.css}">
    <link rel="stylesheet" th:href="@{/css/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/animation/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">
</head>
<body>

<header th:replace="@{include/header} :: navigation"></header>

<!-- start banner Area -->
<section class="banner-area" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center">
            <div class="banner-content col-lg-7 col-md-6 justify-content-center ">
                <h6 class="text-uppercase">Don’t look further, This is our Leader</h6>
                <h1>
                    All things need to repair
                </h1>
                <p class="text-white">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.  sed do eiusmod tempor incididunt..
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase mt-10">Get Started</a>
            </div>
            <div class="banner-img col-lg-5 col-md-6 align-self-end">
                <img class="img-fluid" src="/images/banner-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<footer th:replace="@{include/footer} :: footer"></footer>

<div th:replace="@{include/modals} :: login-modal"></div>
<div th:replace="@{include/modals} :: registration-modal"></div>

<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/superfish.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/app/servisracunara-utils.js}"></script>
</body>
</html>